<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Library SB | Biblioteca virtual</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?v=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/images/hoja.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <header id="header">
        <a href="#">
            <div class="logo">
                <span>Library SB</span>
                <img src="/images/hoja.png" alt="logo">
            </div>
        </a>
        <nav class="navbar">
            <ul class="navbar-menu">
                <a id="cerrar" class="cerrar-menu"><i class="bi bi-x"></i></a>
                <li class="navbar-item"><a href="#">Inicio</a></li>
                <li class="navbar-item"><a href="#libros">Libros</a></li>
                <li class="navbar-item"><a href="#autores">Autores</a></li>
                <li class="navbar-item"><a href="#editoriales">Editoriales</a></li>
                <li class="navbar-item"><a href="#reportes">Reportes</a></li>
            </ul>
            <div class="navbar-icon">
                <a id="btnMenu"><i class="bi bi-list"></i></a>
            </div>
        </nav>
        <div id="modalOverlay"></div>
    </header>
    <main class="main-container">
        <div class="banner">
            <div class="banner-text">
                <h1>Library <strong>SB</strong></h1>
                <p>Biblioteca virtual, gestioná tus libros y más.</p>
                <a href="#menu">¡Empezá ahora!</a>
            </div>
        </div>
        <article id="menu" class="articulo">
            <h2 class="menu-title"> 🍃 ¡Administrá tu biblioteca! 🍃</h2>
            <section class="container-cards">
                <div class="card">
                    <div class="card-title">
                        <h3>Guardá tus libros preferidos</h3>
                    </div>
                    <i class="iconos bi bi-bookmark-heart"></i>
                    <p>Guardá tus libros favoritos en tu biblioteca personal para tenerlos siempre a mano.</p>
                    <a class="btnInformes" href="#libros">Registrá tus libros</a>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h3>Gestioná autores y editoriales</h3>
                    </div>
                    <i class="iconos bi bi-people"></i>
                    <p>Agregá, editá o eliminá información sobre autores y editoriales de tus libros.</p>
                    <a class="btnInformes" href="#autores">Registrá autores</a>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h3>Descargá reportes</h3>
                    </div>
                    <i class="iconos bi bi-file-earmark-bar-graph"></i>
                    <p>Generá informes sobre tu biblioteca para realizar un seguimiento de tu colección.</p>
                    <a class="btnInformes" href="#reportes">Descargar reportes</a>
                </div>
            </section>
        </article>
        <section id="libros" class="container-libros">
            <h2 class="title-pages">Administrá tus libros</h2>
        <div class="tablasAutorEditorial">
                <div th:if="${libros != null and not #lists.isEmpty(libros)}" class="tabla-libros" id="librosTable">
                    <table id="tablaLibros" class="table">
                        <thead>
                            <tr>
                                <th scope="col">Isbn</th>
                                <th scope="col">Título</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Info</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="libro:${libros}" th:attr="data-isbn=${libro.isbn}, 
                        data-titulo=${libro.titulo}, 
                        data-autor=${libro.autor.nombre},
                        data-autorID=${libro.autor.id}, 
                        data-editorial=${libro.editorial.nombre},
                        data-editorialID=${libro.editorial.id}, 
                        data-descripcion=${libro.descripcion},
                        data-imagen=${libro.imagen_url},
                        data-fecha=${libro.alta}">
                                <td th:text="${libro.isbn}"></td>
                                <td th:text="${libro.titulo}"></td>
                                <td th:text="${libro.autor.nombre}"></td>
                                <td><i onclick="mostrarInfoLibro(this.parentNode.parentNode)" title="Ver detalle."
                                        class="bi bi-info-circle"></i></td>
                                <td><i onclick="mostrarModalModificar(this.parentNode.parentNode)"
                                        title="Modificar libro." class="bi bi-pencil-square"></i><a
                                        onclick="eliminarLibro(this.parentNode.parentNode)"><i title="Eliminar libro."
                                            class="bi bi-trash btnEliminarLibro"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class="libros-empty" th:if="${libros == null or #lists.isEmpty(libros)}">
                <img width="30px" src="/images/hoja.png" alt="logo library sb">
                <p>No hay libros registrados</p>
            </div>
            <a onclick="mostrarModalAgregar()" id="btnModal">Agregar</a>
            <div class="home">
                <div class="home-text">
                    <a class="cerrar-modal"><i class="bi bi-x"></i></a>
                    <h3>Agregar libro</h3>
                    <form class="form" action="/libro/registrar" method="POST">
                        <div class="form-group">
                            <label for="ib">ISBN</label>
                            <input id="ib" name="isbn" type="text" maxlength="16" placeholder="Ingrese el ISBN"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="title">Título</label>
                            <input id="title" name="titulo" type="text" maxlength="55" placeholder="Ingrese el título."
                                required>
                        </div>
                        <div class="form-group">
                            <label for="descrip">Descripción</label>
                            <input id="descrip" name="descripcion" type="text" maxlength="175"
                                placeholder="Ingrese una breve descripción." required>
                        </div>
                        <div class="form-group flex-group">
                            <div>
                                <label for="seAutor">Autores</label>
                                <select name="autorID" id="seAutor" required>
                                    <option disabled selected value="">---- Seleccionar autor ----</option>
                                    <option th:each="autor:${autores}" th:value="${autor.id}" th:text="${autor.nombre}">
                                    </option>
                                </select>
                            </div>
                            <div>
                                <label for="seEditorial">Editoriales</label>
                                <select name="editorialID" id="seEditorial" required>
                                    <option disabled selected value="">---- Seleccionar editorial ----</option>
                                    <option th:each="editorial:${editoriales}" th:value="${editorial.id}"
                                        th:text="${editorial.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="imagen">Subir URL Imagen (Opcional):</label>
                            <input id="imagen" name="imagen" type="text" maxlength="245"
                                placeholder="Ingrese URL de la imagen.">
                        </div>
                        <input class="btn-form" type="submit" value="¡Guardar!">
                    </form>
                </div>
                <aside class="home-img">
                    <img src="/images/formimage.png" alt="imagen-formulario">
                </aside>
            </div>
        </div>
        </section>
        <section id="autores" class="container-tablas">
            <h2 class="title-pages">Administrá tus autores</h2>
            <div class="tablasAutorEditorial">
                <div th:if="${autores != null and not #lists.isEmpty(autores)}" class="tabla-libros">
                    <table id="tablaAutores" class="table autores">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Nacionalidad</th>
                                <th scope="col">Nacimiento</th>
                                <th scope="col">Info</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="autor:${autores}" th:attr="data-id=${autor.id}, 
                            data-nombre=${autor.nombre},data-nacionalidad=${autor.nacionalidad},
                            data-nacimiento=${autor.nacimiento},
                            data-bio=${autor.bio}, data-imagen=${autor.imagenUrl}, data-tipo=autor">
                                <td th:text="${autor.nombre}"></td>
                                <td th:text="${autor.nacionalidad}"></td>
                                <td th:text="${autor.nacimiento}"></td>
                                <td><i onclick="mostrarInfoAutor(this.parentNode.parentNode)" title="Ver detalle."
                                        class="bi bi-info-circle"></i></td>
                                <td><i onclick="mostrarModalModificarAutor(this.parentNode.parentNode)"
                                        title="Modificar autor." class="bi bi-pencil-square"></i><a
                                        onclick="eliminarAutorEditorial(this.parentNode.parentNode)"><i
                                            title="Eliminar autor." class="bi bi-trash btnEliminarLibro"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="libros-empty" th:if="${autores == null or #lists.isEmpty(autores)}">
                    <img width="30px" src="/images/hoja.png" alt="logo librarysb">
                    <p>No hay autores registrados</p>
                </div>
                <a class="agregarAutorEditorial" id="btnModal" onclick="mostrarModalAutor()">Agregar</i></a>
                <div class="modalAutor">
                    <div class="modalAutor-text">
                        <a class="cerrar-modal"><i class="bi bi-x"></i></a>
                        <h3>Agregar autor</h3>
                        <form class="form" action="/autor/registrar" method="POST">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input id="name" name="nombre" maxlength="35" type="text"
                                    placeholder="Ingrese el nombre del autor." required>
                            </div>
                            <div class="form-group">
                                <label for="paisOrigen">Nacionalidad</label>
                                <input type="text" name="nacionalidad" id="paisOrigen" maxlength="45"
                                    placeholder="Ingrese su nacionalidad (Ejemplo: Francés)" required>
                            </div>
                            <div class="form-group">
                                <label for="fechaNacimiento">Fecha de nacimiento</label>
                                <input type="date" name="nacimiento" id="fechaNacimiento"
                                    placeholder="Ingrese fecha de nacimiento." required>
                            </div>
                            <div class="form-group">
                                <label for="imagenAutor">Imagen URL</label>
                                <input type="text" id="imagenAutor" maxlength="245" name="imagenUrl"
                                    placeholder="Ingrese URL de la imagen." required>
                            </div>
                            <div class="form-group">
                                <label for="bio">Biografía (Wikipedia) </label>
                                <input type="text" id="bio" name="bio" maxlength="255"
                                    placeholder="Ingrese el enlace a la biografía en Wikipedia">
                            </div>
                            <input class="btn-form" type="submit" value="¡Guardar!">
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="editoriales" class="container-tablas">
            <h2 class="title-pages">Administrá tus editoriales</h2>
            <div class="tablasAutorEditorial">
                <div th:if="${editoriales != null and not #lists.isEmpty(editoriales)}" class="tabla-libros">
                    <table id="tablaEditoriales" class="table editorial">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">País</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="editor:${editoriales}" th:attr="data-id=${editor.id}, 
                            data-nombre=${editor.nombre},
                            data-paisOrigen=${editor.paisOrigen},
                            data-tipo=editorial">
                                <td th:text="${editor.nombre}"></td>
                                <td th:text="${editor.paisOrigen}"></td>
                                <td><a onclick="eliminarAutorEditorial(this.parentNode.parentNode)"><i
                                            title="Eliminar editorial." class="bi bi-trash btnEliminarLibro"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="libros-empty" th:if="${editoriales == null or #lists.isEmpty(editoriales)}">
                    <img width="30px" src="/images/hoja.png" alt="">
                    <p>No hay editoriales registradas</p>
                </div>
                <a onclick="mostrarModalEditorial()" class="agregarAutorEditorial" id="btnModal">Agregar</a>
                <div class="modalEditorial">
                    <div class="modalAutor-text">
                        <a class="cerrar-modal"><i class="bi bi-x"></i></a>
                        <h3>Agregar Editorial</h3>
                        <form class="form" action="/editorial/registrar" method="POST">
                            <div class="form-group">
                                <label for="name_editor">Nombre</label>
                                <input id="name_editor" name="nombre" maxlength="45" type="text"
                                    placeholder="Ingrese el nombre de la editorial." required>
                            </div>
                            <div class="form-group">
                                <label for="pais_editor">País de origen</label>
                                <input id="pais_editor" name="paisOrigen" maxlength="65" type="text"
                                    placeholder="Ingrese el país de origen." required>
                            </div>
                            <input class="btn-form" type="submit" value="¡Guardar!">
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="reportes" class="articulo repo">
            <h2>🍁 Descargar reportes 🍁</h2>
            <section class="container-cards">
                <div class="card">
                    <div class="card-title">
                        <h3>Libros</h3>
                    </div>
                    <i class="iconos bi bi-book"></i>
                    <p>Este reporte contiene una lista con todos tus libros.</p>
                    <a th:if="${libros != null and not #lists.isEmpty(libros)}" class="btn-descargarLibros"
                        th:href="@{/libro/reportes}">Descargar <i class="bi bi-download"></i></a>
                    <a th:if="${#lists.isEmpty(libros)}" class="btn-descargarLibros disabled-link">No hay libros
                        disponibles</a>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h3>Autores</h3>
                    </div>
                    <i class="iconos bi bi-person-badge"></i>
                    <p>Este reporte contiene una lista con todos tus autores.</p>
                    <a th:if="${autores != null and not #lists.isEmpty(autores)}" class="btn-descargarLibros"
                        th:href="@{/autor/reportes}">Descargar <i class="bi bi-download"></i></a>
                    <a th:if="${#lists.isEmpty(autores)}" class="btn-descargarLibros disabled-link">No hay autores
                        disponibles</a>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h3>Editoriales</h3>
                    </div>
                    <i class="iconos bi bi-house-door-fill"></i>
                    <p>Este reporte contiene una lista con todas tus editoriales.</p>
                    <a th:if="${editoriales != null and not #lists.isEmpty(editoriales)}" class="btn-descargarLibros"
                        th:href="@{/editorial/reportes}">Descargar <i class="bi bi-download"></i></a>
                    <a th:if="${#lists.isEmpty(editoriales)}" class="btn-descargarLibros disabled-link">No hay
                        editoriales
                        disponibles</a>
            </section>
        </section>
    </main>
    <div class="div-exito" id="mensaje-exito" th:if="${exito != null}">
        <p th:text=${exito}></p>
    </div>
    <div class="div-error" id="mensaje-error" th:if="${error != null}">
        <p th:text=${error}></p>
    </div>
    <div class="infoLibro"></div>
    <div class="infoAutor"></div>
    <div class="borrarLibro">
        <p>¿Estás seguro de eliminar a</p>
        <p class="nombreLibro"></p>
        <div>
            <a class="confirmar" href="#">Si</a>
            <a class="desconfirmar" onclick="cerrarConfirmacion()">No</a>
        </div>
    </div>
    <footer class="footer">
        <p>© Copyright 2024 | Marcos Labourdette</p>
    </footer>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="/js/tablas.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>